:root {
  --primary-color: #635efb;
  --secondary-color: #002faf;
  --font-color: #131313;
  --bg-color: rgb(190, 190, 190);
  --secondary-bg-color: rgb(238, 237, 237);
  --heading-color: #292922;
  --box-shadow:  rgba(0, 0, 0, 0.15) 2px 4px 10px 2px;
  --secondary-box-shadow: none;
  --text-shadow: 0 0 10px rgba(27, 10, 255, 0.411);
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --secondary-bg-color:#26263f;
  --heading-color: #818cab;
  --box-shadow: 0 0 8px black;
  --text-shadow: 0 1px 10px rgb(136, 86, 255);
  --secondary-box-shadow: 0 0 15px rgba(81, 32, 216, 0.911);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
}

.btn {
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-color);
}

.answerBtn {
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: white;
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-color);
}

/* Card elements */

.container {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.card-header h1 {
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
}
.card-starter-hidden {
  visibility: hidden;
  position: absolute;
}

.card-starter {
  border-radius: 5px;
  border-width: 1px;
  text-align: center;
  font-size: 18px;
  margin: 5% auto;
  max-width: 800px;
  padding: 30px 40px;
  color: var(--font-color);
  background-color: var(--bg-color);
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
}

.card-quiz-hidden {
  visibility: hidden;
  position: absolute;
  
}

.card-quiz {
  /* visibility: hidden; */
  border-radius: 5px;
  border-width: 1px;
  text-align: center;
  font-size: 18px;
  margin: 5% auto;
  max-width: 800px;
  padding: 30px 40px;
  color: var(--font-color);
  background-color: var(--bg-color);
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
}

.card-end-hidden {
  visibility: hidden;
  position: absolute;
}

.scorePh {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.scorePh h2 {
  margin: 1%;
}

.card-end {
  border-radius: 5px;
  border-width: 1px;
  text-align: center;
  font-size: 18px;
  margin: 5% auto;
  max-width: 800px;
  padding: 30px 40px;
  color: var(--font-color);
  background-color: var(--bg-color);
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
}
.card-leaderboard-hidden {
  visibility: hidden;
}

.card-leaderboard {
  border-radius: 5px;
  border-width: 1px;
  text-align: center;
  font-size: 18px;
  margin: 5% auto;
  max-width: 800px;
  padding: 30px 40px;
  color: var(--font-color);
  background-color: var(--bg-color);
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
}


.leaderboardList {
  margin-right:10%;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
  font-size: 15px;
  color: var(--font-color);
}

